<form id="electric-summary-form" method="post">
    <div class="row">
        <p class="col-sm text-muted mb-0 mb-sm-3">Meter Number:</p>
        <p class="col-sm text-sm-right font-weight-500">{{meterNo}}</p>
        <input type="hidden" value="{{meterNo}}" id="meterNo">
    </div>
    <div class="row">
        <p class="col-sm text-muted mb-0 mb-sm-3">Meter Type:</p>
        <p class="col-sm text-sm-right font-weight-500">{{getMeterType meterType}}</p>
        <input type="hidden" value="{{meterType}}" id="meterType">
    </div>
    <div class="row">
        <p class="col-sm text-muted mb-0 mb-sm-3">Company:</p>
        <p class="col-sm text-sm-right font-weight-500">{{companyName}}</p>
        <input type="hidden" value="{{company}}" id="company">
    </div>
    <div class="row">
        <p class="col-sm text-muted mb-0 mb-sm-3">Type:</p>
        <p class="col-sm text-sm-right font-weight-500">Electricity Bill Payment</p>
    </div>
    <div class="row">
        <p class="col-sm text-muted mb-0 mb-sm-3">Amount:</p>
        <p class="col-sm text-sm-right font-weight-500">{{amount}}</p>
        <input type="hidden" value="{{amount}}" id="amount">
    </div>
    <div class="row">
        <p class="col-12 text-muted mb-0">Plan Description:</p>
        <p class="col-12 text-1">
            {{title}} summary for {{amount}} {{network}} Electricity Bill Payment at the rate of ₦{{amount}}
        </p>
    </div>

    <div class="bg-light-4 rounded p-3">
        <div class="row">
            <div class="col-sm text-3 font-weight-600">Payment Amount</div>
            <div class="col-sm text-sm-right text-5 font-weight-500">₦{{ amount }}</div>
        </div>
    </div>

    <p class="mt-4 mb-0">
        <button type="submit" id="submitButton" class="btn btn-primary btn-block">Pay Now</button>
    </p>
</form>
<script src="/js/page/electricSummary.js"></script>