<div class="col-lg-4 mb-4 mb-lg-0">
    <h2 class="text-4 mb-3">Pay your Electricity Bill</h2>
    <form id="electricityBill" method="get" action="/electric-bill/summary">
        <div class="form-group">
            <select class="custom-select" name="company" id="operator" required="">
                <option value="">-- Electricity Company --</option>
                {{#each providers }}
                <option min="{{min_denomination}}" max="{{max_denomination}}" name="{{name}}" value="{{product_id}}">
                    {{name}}</option>
                {{/each }}
            </select>
            <input type="hidden" name="companyName" id="companyName">
        </div>
        <div class="form-group">
            <select class="custom-select" name="meterType" id="meterType" required="">
                <option value="">-- Meter Type --</option>
                <option value="01">PrePaid</option>
                <option value="02">PostPaid</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="meterNo" data-bv-field="number" id="meterNo" required
                placeholder="Enter Meter Number">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
            <span class="view-plans-link" data-toggle="tooltip" id="rangeOfValidAmount"
                data-original-title="Range of valid amount">(0 -
                0) </span>
            <input class="form-control" name="amount" id="amount" placeholder="Enter Amount" required type="number">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Continue</button>
    </form>
</div>

<!-- Slideshow -->
<div class="col-lg-8">
    <div class="owl-carousel owl-theme single-slider" data-animateout="fadeOut" data-animatein="fadeIn"
        data-autoplay="true" data-loop="true" data-autoheight="true" data-nav="true" data-items="1">
        <div class="item"><a href="#"><img class="img-fluid" src="images/slider/banner-6.jpg" alt="banner 5" /></a>
        </div>
    </div>
</div>
<script>
    const setAmountRange = (e) => {
        const option = [...e.target].find(option => option.selected)

        const min = option.getAttribute("min")
        const max = option.getAttribute("max")

        document.querySelector("#companyName").value = option.getAttribute("name");

        document.querySelector("#amount").min = min
        document.querySelector("#amount").max = max

        document.querySelector("#rangeOfValidAmount").innerText = `(${min} - ${max.toLocaleString()})`;
    }

    document.querySelector("#operator").addEventListener("change", setAmountRange)
</script>