<div class="bg-secondary">
    <div class="container">
        <ul class="nav secondary-nav">
            <li class="nav-item">
                <a class="nav-link {{isActivePage page "buy-airtime"}}" href="buy-airtime">
                    <span><i class="fas fa-mobile-alt"></i></span> Airtime
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActivePage page "buy-data"}}" href="buy-data">
                    <span><i class="fas fa-wifi"></i></span> Data Bundle
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActivePage page "fund-wallet"}}" href="fund-wallet">
                    <span><i class="fas fa-credit-card"></i></span> Fund Wallet
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActivePage page "transfer-fund"}}" href="transfer-fund">
                    <span><i class="fas fa-share"></i></span> Transfer Fund
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActivePage page "cable-tv"}}" href="cable-tv">
                    <span><i class="fas fa-plug"></i></span> Cable TV
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{isActivePage page "electric-bill"}}" href="electric-bill">
                    <span><i class="fas fa-lightbulb"></i></span> Electricity
                </a>
            </li>
        </ul>
    </div>
</div>